.choose-color-popup-buttons-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 105%;
    height: 60%;
    align-items: center;
}

.button-area {
    display: flex;
    justify-content: center;
}
