button {
    margin-right: 5px;
    padding: 15px;
    border-radius: 5%;
    font-size: 12px;
    text-transform: unset;
    border: 2px solid #0d6b8b;
    color: #0d6b8b;
    cursor: pointer;
}

button:hover {
    background: #0d6b8b;
    color: white;
    border: 2px solid white;
}

button.disabled {
    background: rgb(238, 238, 238);
    color: grey;
    border: 2px solid grey;
    pointer-events: none;
}

button.disabled:hover {
    background: rgb(238, 238, 238);
    color: grey;
    border: 2px solid grey;
}
