.modal {
    z-index: 2;
    text-align: center;
    padding: 40px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 35%;
    background: rgb(13, 107, 139);
    border: 5px solid white;
    color: white;
}
