.overlay {
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.modal {
    z-index: 2;
    text-align: center;
    padding: 40px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 35%;
    background: rgb(13, 107, 139);
    border: 5px solid white;
    color: white;
}
