
.game-component {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.game-component .navbar-component {
    display: flex;
    flex: 0.9;
    z-index: 2;
}

.game-component .separator-component {
    display: flex;
    flex: 0.1;
}

.game-component .board-component {
    display: flex;
    flex-direction: column;
    flex: 8;
}

.game-component .console-component {
    display: flex;
    flex: 1;
}

