html, body {
    height: 100%;
    user-select: none;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    min-height: 768px;
    min-width: 680px;
}

#root {
    display: flex;
    flex: 1;
}
