.navbar-component {
    min-width: 680px;
    padding: 0 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    background: #0e9ac8;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.navbar-component .logo {
    height: 66px;
    width: 130px;
}

/* Statistics */

.navbar-component .record {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-component .value {
    font-weight: bold;
    font-size: 20px;
}

.navbar-component .label {
    font-size: 12px;
}

.navbar-component .current-player, .navbar-component .active-action {
    color: yellow;
}

.game-step-carousel {
    display: flex;
    flex-direction: column;
}

.carousel-title {
    margin-bottom: 10px;
}

.carousel-buttons {
    display: flex;
    justify-content: center;
}

.game-over {
    color: yellow;
}

.nav-buttons {
    display: flex;
}

.clocks {
    display: flex;
}
