.console-component {
    border-top: 2px solid yellow;
    height: 10%;
    color: yellow;
    padding: 0px 20px;
    font-size: 16px;
    font-family: monospace;
    background: #161616;
    display: flex;
    align-items: center;
}
