.hand-component {
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    flex-wrap: wrap;
}

.hand-component .card-component {
    margin-left: 10px;
}

