
button {
    display:flex;
    justify-content: center;
    width: 90px;
    height: 25px;
    margin: 0 auto;
}

.card-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    margin-top: 10px;
}

.card {
    cursor: pointer;
    background: white;
    border: 1px solid black;
}

.front-card {
    position: relative;
    z-index: 1;
}

.back-card {
    position: relative;
    top: -100%;

}

img {
    height: 700px;
    width: 450px;
}

.back-card-img {
    position: absolute;
    top: -44rem;
    }

