
button {
    display:flex;
    justify-content: center;
    width: 90px;
    height: 25px;
    margin: 0 auto;
}

.card-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    margin-top: 10px;
}

.card {
    cursor: pointer;
    /*height: inherit;*/
    /*width: inherit;*/
    background: white;
    border: 1px solid black;
}

.front-card,
.back-card {
    /*height: inherit;*/
    /*width: inherit;*/

}

.front-card {
    position: relative;
    z-index: 1;
    /*
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    text-shadow: 1px -1px 2px black;
    backface-visibility: hidden;
    overflow: hidden;
    */
}


.back-card {
    position: relative;
    top: -100%;

}

img {
    height: 700px;
    width: 450px;
}

.back-card-img {
    position: absolute;
    top: -44rem;
    }

