.board-component {

}

.board-component .hand-component.humanHandPile .card-component:hover,
.board-component .deck-component .draw-pile-component .card-component:last-child:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.7s ease;
    z-index: 5;
    overflow: initial;
}
.human-hand.player .card-container:hover,
.draw-pile .card-container:last-child .card .back-card:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.7s ease;
    z-index: 5;
    overflow: initial;
}
